
<%- include ('partials/head') %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <%- include ('partials/header') %>
        <% if (login) {%>
            <div class="container my-5">
                <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
                    <h2 class="mb-0">Lista de Productos</h2>
                    <% if (rol == "admin") { %>
                        <a href="/createUser" class="btn btn-outline-primary ms-4"><i class='bx bx-plus-circle bx-md'></i></a>
                        <% } %>
                </div>
                    
                <table class="table table-bordered table-hover text-center align-middle">
                    <thead class="table table-bordered table-striped text-center mt-2">
                        <tr class="bg-primary text-white">
                            <th scope="col">Referencia</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acciones</th>
                    
                        </tr>
                    </thead>
                </tbody>
                <% usuarios.forEach((usuario) => { %>
                    <tr>
                        <td><%= usuario.id %></td>
                        <td><%= usuario.usuario %></td>
                        <td><%= usuario.nombre %></td>   
                        <td><%= usuario.rol %></td>                     
                        <td><%= usuario.email %></td>
                        <td>                              
                            <a
                                href="/edit/<%=usuario.id %>" 
                                class="btn btn-outline-warning">
                                <i class='bx bx-edit bx-md'></i>
                            </a>
                            <a href="/delete/<%=usuario.id %>" 
                                class="btn btn-outline-danger">
                                <i class='bx bx-trash bx-md'></i>
                            </a>
                        </td>

                            
                        </tr>
                        
                        <% }) %>
                    <tbody>
                </table>
            </div>       
        <% } else { %>
            <div class="container my-5">
                <div class="alert alert-danger align-middle text-center" role="alert">
                    <h1>
                        <%= msg %>
                    </h1>
                    <a href="/login" class="btn btn-primary mt-4">Iniciar sesión</a>
                </div>
            </div>
        <% } %>
        <%- include ('partials/footer') %>